@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


* {
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #000;
    color: #fcf7f0;
    font-size: 18px;
    line-height: 30px
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px
}

.c-logo {
    width: 80vw;
    max-width: 1200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.c-intro {
    width: 70vw;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.dummySpace {
    height: 200px;
}

.sectionLinksIcons a {
    text-decoration: none;
}

.sectionLinksIcons a img {
    width: 32px;
    height: 32px;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
}
